<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Wizard</title> 
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
    <style>
        body {
            background-image: url('https://source.unsplash.com/1600x900/?nature,sky'); 
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        h1 {
            color: #ff6347;
        }
        form {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 1rem;
            border-radius: 10px;
        }
    </style>
</head>

<body>
    <h1>Welcome to Weather Wizard!</h1> 
    <form action="/weather">
        <input type="text" name="city" id="city" placeholder="Enter a City" required />
        <button type="submit"><div>Find Weather</div></button>
    </form>
</body>

</html>